 {% extends 'base.html' %}
{% block title %}
     <title>Edit Task-taskmate</title>
{% endblock title %}


{% block content %}
    <div class="container">
    </br>

        <form method="POST" class="row">
            {% csrf_token %}
            <div class="col-lg-8 col-md-8 col-sm-8">
                <input type="text" class="form-control" name="task" placeholder="{{ task_obj.task }}" value="{{ task_obj.task }}">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <input type="hidden"  name="done"  value="{{ task_obj.done }}">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <button type="submit" class="btn btn-primary btn-block">Update Task</button>
            </div>
        </form>
    </div>
{% endblock content %}