{% extends 'base.html' %}
{% block title %}
    <title>About</title>
{% endblock title %}
{% block content %}

    
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <form method ="POST">
            {% csrf_token %}

            {{ register_form.as_p }}

            <button tpye="submit">Register</button>
        </form>
    </div>
{% endblock content %}